/node_modules
/examples/**/node_modules
/packages/jsx-sfc/dist
/packages/jsx-sfc/lib
/packages/jsx-sfc/types/dist.definition.ts
/packages/jsx-sfc/types/jsx-sfc.d.ts
/packages/babel-plugin-jsx-sfc/lib
/packages/babel-plugin-jsx-sfc/index.d.ts
/packages/vite-plugin-jsx-sfc/lib
/packages/vite-plugin-jsx-sfc/legacy
/packages/vite-plugin-jsx-sfc/index.d.ts
