/node_modules
/examples/**/node_modules
/test/node_modules_local
/packages/jsx-sfc/dist
/packages/jsx-sfc/lib
/packages/babel-plugin-jsx-sfc/lib
/packages/vite-plugin-jsx-sfc/lib
/packages/jsx-sfc.macro/lib
